.summary{
  background: rgb(181, 178, 178);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  
}

.flexi{
  display: flex;
  justify-content: space-between;
}

.summary_container{
  width: 100vw;
  max-width: 350px;
  height: 40vh;
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: baseline;
  align-items: center;
  margin: 50px 25px;
}

.name{
  background: beige;
  margin-top: 10px;
  padding: 20px 5px;
  width: 70%;
}

.account{
  background: rgb(236, 236, 164);
  padding: 5px 5px;
  width: 70%;
}

.balance{
  background: rgb(215, 215, 6);
  padding: 5px 5px;
  width: 70%;
}

.rightSide{
  padding-right: 10px;
  /* margin-left: 10px; */
}

@media(max-width: 1200px){
  .summary{
    background: rgb(181, 178, 178);
    height: 110vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
    
  }
  
  .flexi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .summary_container{
    width: 100vw;
    max-width: 350px;
    height: 40vh;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: baseline;
    align-items: center;
    margin: 50px 25px;
  }
  
  .name{
    background: beige;
    margin-top: 10px;
    padding: 20px 5px;
    width: 70%;
  }
  
  .account{
    background: rgb(236, 236, 164);
    padding: 5px 5px;
    width: 70%;
  }
  
  .balance{
    background: rgb(215, 215, 6);
    padding: 5px 5px;
    width: 70%;
  }
  
  .rightSide{
    margin-left: 25px;
  }
}