th{
  border: 1px solid black;
  background-color: white;
  color: black;
}

td{
  border: 1px solid black;
}

table{
  background: rgb(94, 90, 90);
  color: white;
}

.transactionn{
  width: 100%;
  background: red;
}

@media(max-width: 1200px){
  .transa{
    width: 100%;
  
  }

  .transactionn{

  }

  th{
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 8px;
  }
  
  td{
    border: 1px solid black;
  }
  
  table{
    background: rgb(94, 90, 90);
    color: white;
    font-size: 8px;
  }
}